<!DOCTYPE html>
<html>
    <head lang="en">
        <title>{% block title %}{{ page.title }}{% endblock %} &mdash; {{ site.title }} &mdash; {{ site.subtitle }}</title>
        <meta charset="utf-8">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block head_meta %}
            <meta name="robots" content="noindex, follow">
        {% endblock %}
        <link rel="stylesheet" href="https://component.frisovandijk.com/api/static/docs.css">
        <script src="https://component.frisovandijk.com/api/static/components.js"></script>

        <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/atom.xml" title="{{ site.title }} activity feed" />
        {% block head_styles %}
        {% endblock %}

        <script>
            function resizeIframe(obj) {
                obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
            }
        </script>
        {% block head_scripts %}
        {% endblock %}
    </head>
    <body class="bg-grays-light4 min-vh-100 flex flex-column">
        {% include "partials/header.twig" %}

        <main role="main" class="w-90 mw7 center flex-grow-1 mt6 mb12">
            {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
        </main>
        {% include "partials/footer.twig" %}

        {% block scripts %}
        {% endblock %}

        {% block scripts_after %}
        {% endblock %}
    </body>
</html>
